extends layout

block content
    h1= title

    p This is a line with #[em some emphasis] and #[strong strong text] markup.
    p This line has un-escaped data: !{'<em> is emphasised</em>'} and escaped data: #{'<em> is not emphasised</em>'}.
      | This line follows on.
    p= 'Evaluated and <em>escaped expression</em>:' + title

    <!-- You can add HTML comments directly -->
    // You can add single line JavaScript comments and they are generated to HTML comments
    //- Introducing a single line JavaScript comment with "//-" ensures the comment isn't rendered to HTML

    p A line with a link
      a(href='/catalog/authors') Some link text
      |  and some extra text.

    #container.col
      if title
        p A variable named "title" exists.
      else
        p A variable named "title" does not exist.
      p.
        Pug is a terse and simple template language with a
        strong focus on performance and powerful features.

    h2 Generate a list

    ul
      each val in [1, 2, 3, 4, 5]
        li= val



<!-- 
Welcome to My local library

This is a line with some emphasis and strong text markup.

This line has un-escaped data: is emphasised and escaped data: <em> is not emphasised</em>.This line follows on.

Evaluated and <em>escaped expression</em>:Welcome to My local library

A line with a linkSome link text and some extra text.

A variable named "title" exists.

Pug is a terse and simple template language with a strong focus on performance and powerful features.

Generate a list
1
2
3
4
5
-->        